* {
    margin: 0;
    padding: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

nav li{
    display: block;
}

nav li a {
    font-size: 40px;
    text-decoration: none;
    color: black;
}

nav li a:hover{
    color: #ADD8E6;
}

nav ul {
    display: inline-flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}


nav img {
    width: 35px;
    height: auto;
    vertical-align: bottom;
}

nav {
    margin-top: 0px;
    float: center;
    border-bottom: 5px #F56476 solid;
}

.entry_screen {
    background-image: url(Images/warhammer-40k-dawn-of-war-3-4k-4k.jpeg);
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-position: top;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.entry_screen h1 {
    color: #F56476;
    font-size: 100px;
}

.entry_screen h3 {
    color: #F56476;
    font-size: 30px;
}

div.Video{
    display: block;
    margin: auto 0px;
    text-align: center;
}
h2.Video{
    text-align: center;
    margin-top: 20px;
}

iframe.Video {
    margin-top: 20px;
    width: 50%;
    height: 370px;
}

