nav li {
    display: inline-block;
    padding-right: 40px;
}

nav ul {
    list-style-type: none;
}

nav img {
    width: 35px;
    height: auto;
    float: right;
}

nav {
    float: center;
    border-bottom: 5px coral solid;
}

.entry_screen {
    background-image: url(Images/warhammer-40k-dawn-of-war-3-4k-4k.jpeg);
    width: 100%;
    height: 550px;
    display: block;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    opacity: 70%;
    border: 3px black solid;
}

.entry_screen h1 {
    padding-top: 200px;
    padding-left: 30px;
}

.entry_screen h3 {
    padding-left: 50px;
}