* {
    margin: 0;
    padding: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

nav li{
    display: block;
}

nav li a {
    font-size: 40px;
    text-decoration: none;
    color: black;
}

nav li a:hover{
    color: #F56476;
}

nav ul {
    display: inline-flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 0px;
}

nav {
    margin-top: 0px;
    float: center;
    border-bottom: 5px #F56476 solid;
}

nav i {
    height: auto;
    vertical-align: top;
}

.entry_screen {
    background-image: url(Images/warhammer-40k-dawn-of-war-3-4k-4k.jpeg);
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-position: top;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.entry_screen h1 {
    color: #F56476;
    font-size: 100px;
}

.entry_screen h3 {
    color: #F56476;
    font-size: 30px;
}

div.Video{
    display: block;
    margin: auto 0px;
    text-align: center;
}
h2.Video{
    text-align: center;
    margin-top: 20px;
}

iframe.Video {
    margin-top: 20px;
    width: 50%;
    height: 370px;
}

#inquire {
    padding: 20px;
    border: #F56476 3px solid;
    margin-top: 10px;
}

#inquire:hover {
    color: whitesmoke;
    background-color: #F56476;
}

@media only screen and (max-height: 398px) {
    .entry_screen h1 {
        font-size: 80px;
    }
}

@media only screen and (max-width: 290px) {
    nav li a{
        font-size: 30px;
    }
}

#wrapper {
    margin-top: 50px;
    display: inline-flex;
}

.example_figures {
    height: 75%;
    width: 100%;
}

.example_headings {
    text-align: center;
}

.races {
    margin-right: 10px;
    text-align: center;
}

.example_button {
    margin-top: 10px;
    border: #F56476 3px solid;
    padding: 15px;
    margin-bottom: 10px;
    background-color: whitesmoke;
}

.example_button:hover {
    background-color: #F56476;
    color: whitesmoke;
}